<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h2><b>Objectives</b></h2>

-List popular languages for Data Science

-List popular Data Science tools

-Learn how to convert hours to minutes using Jupyter Notebooks

-List popular libraries for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. SciPy
3. NumPy
4. Pandas

|Data Science Tools|
|------------------|
|RStudio|
|TensorFlow|
|Apache Hadoop|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

4+5

4-5

4*5

4/5

4//5

In [11]:
# This a simple arithmetic expression to mutiply then add integers


(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

print( "This will equal", 200//60, "hours and",(200%60),"minutes, or",200/60, "hours")

This will equal 3 hours and 20 minutes, or 3.3333333333333335 hours

<h2>Author</h2>
Vishakha Singla